<?xml version="1.0" encoding="utf-8"?>
<manifest

    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.main.trainer.dogtrainer" >
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".DogTrainerApplication">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <meta-data android:name="com.google.android.apps.drive.APP_ID" android:value="352195573043-m0bk67mq00iktd62rsjblrj800lkq0q5.apps.googleusercontent.com" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="com.google.android.apps.drive.DRIVE_OPEN" />
                <data android:mimeType="application/json" />

            </intent-filter>
        </activity>
    </application>

</manifest>
